<%
  @settings ||= Setting.plugin_redmine_time_entry_audit
  raw_ids      = Array(@settings['allowed_admin_ids'])
  allowed_ids  = raw_ids.map(&:to_i)
  list_defined = @settings.key?('allowed_admin_ids')
  current_id   = User.current.id
  allowed      = list_defined ? allowed_ids.include?(current_id) : true
%>

<div class="tea-scope">
<% if allowed %>
  <div class="tea-select-wrap">
    <strong>Admins allowed to manage time entry audits</strong><br>

    <%= select_tag 'settings[allowed_admin_ids][]',
          options_from_collection_for_select(
            User.active.where(admin: true).order(:login),
            'id', 'login',
            allowed_ids
          ),
          id: 'tea_admins', multiple: true, size: 12 %>

    <div id="tea_admins_selected" class="tea-selected"></div>
    <em class="tea-note">Only these admins will see the Time Audit menu and the button in Spent time.</em>

    <div class="tea-info-block">
      <div class="tea-legend">
        <span class="legend-label">Legend:</span>
        <span class="initial">Saved (DB)</span>
        <span class="newly">Newly selected</span>
        <span class="removed">Deselected from DB</span>
      </div>
    </div>
  </div>
<% else %>
  <% allowed_ids.each do |uid| %>
    <%= hidden_field_tag 'settings[allowed_admin_ids][]', uid %>
  <% end %>
  <% if !list_defined && allowed_ids.empty? %>
    <%= hidden_field_tag 'settings[allowed_admin_ids][]', '' %>
  <% end %>
<% end %>
</div>
